<nav>
    <section class="logo-search">
        <div class="logo-div">
            <img src="chef_hat.png" alt="chef hat" />
            <h4>Chefify</h4>
        </div>

        <div class="search-div">
            <img src="search_icon.png" alt="search icon" />
            <input type="text" placeholder="What would you like to cook?" />
        </div>
    </section>

    <section class="nav-list">

        <h3>What to cook</h3>
        <h3>Recipes</h3>
        <h3>Ingredients</h3>
        <h3>Occassions</h3>
        <h3>About us</h3>

        <div class="buttons-div">
            <button class="login-btn">Login</button>
            <button class="subscribe-btn">Subscribe</button>
        </div>
    </section>
</nav>