<main class="footer-container">
    <section class="footer-section-title">
        <div class="about-us-info">
            <div class="info-div">
                <h3>About Us</h3>
                <p>Welcome to our website, a wonderful place to explore and learn how to cook like a pro.</p>

                <div class="newsletter-input">
                    <input type="text" placeholder="Enter your e-mail" />
                    <button type="button">Send</button>
                </div>
            </div>


            <div class="copyright">
                <h3>Chefify</h3>
                <h3>2023 Chefify Company</h3>
                <h3>Terms of Services | Privacy Policy</h3>
            </div>

        </div>
    </section>


    <section class="footer-section-title">
        <div class="about-us-info">
            <div class="info-div">
                <h3>Learn more</h3>
                <p>Our cooks</p>
                <p>See our features</p>
                <p>FAQ</p>
            </div>


            <div class="shop">
                <h3>Shop</h3>
                <p>Gift subscription</p>
                <p>Send us feedback</p>
            </div>
        </div>
    </section>



    <section class="footer-section-title">  
        <div class="about-us-info">
            <div class="info-div">
                <h3>Recipes</h3>
                <p>What to cook this week</p>
                <p>Pasta</p>
                <p>Dinner</p>
                <p>Healthy</p>
                <p>Vegetarian</p>
                <p>Vegan</p>
                <p>Christmas</p>
            </div>
        </div>
    </section>
</main>