/* You can add global styles to this file, and also import other style files */
@use './app/styles/resets' as *;



/* variables */
:root {
    --footer-bg-black: #1E2128;
    --primary-purple: #634DD1;
    --primary-blue: #0B247E;
    --primary-text-col: #1D2026;
    --search-bar-bg: #F3F4F6;
    --time-display-bg: #dfe3f7;
}




